<li class="post">
    <img src="@@img" class="post__img" alt="@@alt">
    <div class="post__wrapper">
        <div class="post__tags"></div>
      <div class="post-wrap">
          <span class="post__date">@@date</span>          
          <span class="post__views">@@views</span>
          <span class="post__comments">@@comments</span>
      </div>  
      <h3 class="post__title">@@title</h5>
      <p class="post__text">@@text</p>
      <a href="#" class="post__link">@@link</a>
    </div>
  </li>