<section class="portfolio container">
    <h1 class="portfolio__title">Portfolio</h1>
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="/static/images/Website.jpg" class="portfolio__img" alt="created website"></div>
          <div class="swiper-slide"><img src="/static/images/Website.jpg" class="portfolio__img" alt="created website"></div>
          <div class="swiper-slide"><img src="/static/images/Website.jpg" class="portfolio__img" alt="created website"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="portfolio__content">
            <a href="#" class="portfolio__link">Learning site for DL Academy courses</a>
            <p class="portfolio__text">A simple multi-page static site. The design layout was in Figma. HTML and CSS were used. The site is responsive and cross-browser, but without adding interactivity via JavaScript.</p>
        
        </div> 
      </div>
    
        
    </div>
</section>