<div class="password__overlay"></div>
<section class="password">
    <h2 class="visualy-hidden">Sign In</h2>
    <button type="button" class="password__btn">
        <svg class="password__svg" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" fill="#828282"/>
            <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" fill="#828282"/>
        </svg>  
    </button>
    <form name="password" action="https://echo.htmlacademy.ru" method="POST" class="password__form">
       <fieldset class="form__fieldset">
        <div class="form__wrapper">
    </form>
            <input name="password" type="password" id="old-password" class="form__input">
            <label for="old-password" class="form__label">Old password *</label> 
        </div>
        <div class="form__wrapper">
            <input name="newPassword" type="password" id="new-password" class="form__input">
            <label for="new-password" class="form__label">New password *</label> 
        </div>
        <div class="form__wrapper">
            <input name="repaetPassword" type="password" id="repeat-password" class="form__input">
            <label for="repeat-password" class="form__label">Repeat new password *</label> 
        </div>
        <button type="submit" class="form__button">Change password</button>
       </fieldset>
        
    </form>

</section> 