.button-to-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 42px;
    height: 42px;
    background-color: #FFFFFF;
    border: 2.5px solid #070707;
    box-sizing: border-box;
    border-radius: 21px;

    &:hover, &:focus{
        cursor: pointer;
    }

    &_hidden{
        display: none;
    }
}