<header class="header container"> 
  <ul class="header__nav">
    <li class="nav__item">
      <a href="/" class="nav__link nav__link_active">Home</a>
    </li>
    <li class="nav__item">
      <a href="../../pages/blog/index.html" class="nav__link">My blog</a>
    </li>
    <li class="nav__item">
      <button class="nav__button_js nav__link ">Sign in</button>
    </li>
    <li class="nav__item">
      <button class="nav__btn_js nav__link">Register</button>
      </li>
  </ul>
  <button class="header__btn-mobile">
    <svg width="32" height="20" viewBox="0 0 32 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="6.10352e-05" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="8.00006" width="32" height="4" rx="2" fill="#070707"/>
      <rect y="16.0001" width="32" height="4" rx="2" fill="#070707"/>
    </svg>      
  </button>



  
  <div class="mobile-header">
    <div class="mobile-header__container">
      <ul class="mobile-header__nav">
        <li class="nav__item">
          <a href="/" class="nav__link nav__link_active">Home</a>
        </li>
        <li class="nav__item">
          <a href="../../pages/blog/index.html" class="nav__link">My blog</a>
        </li>
        <li class="nav__item">
          <button class="nav__button_js nav__link ">Sign in</button>
        </li>
        <li class="nav__item">
          <button class="nav__btn_js nav__link">Register</button>
          </li>
      </ul>
    </div>
  </div>
</header>
