<footer class="footer container">
    <h1 class="footer__title">Contacts</h1>
    <p class="footer__desc">Want to know more or just chat? 
      You are welcome!</p>
      <button class="footer__button footer__button_js">Send message</button>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">Instagram</a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">Vk</a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">Telegram</a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">Mail</a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">GitHub</a>
        </li>
        <li class="footer__social-item">
          <a href="#" class="footer__social-link">Phone</a>
        </li>
      </ul>
      <div class="footer__wrap">
        <p class="footer__text">Design by</p>
        <a href="#" class="footer__link footer__text">DL Academy</a>
      </div>
      <p class="footer__text">Program code from Antonina</p>
</footer>
